.about-hero {
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/abous-us.jpg') center/cover no-repeat;
  background-attachment: fixed;
  background-position-y: -190px;
  object-position: top;

  .hero-text {
    text-transform: uppercase;
    font-weight: 600;
    font-family: $ff-headingFont;
    font-size: 3rem;
  }
}

section.about-us {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;

  p {
    max-width: 30rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-img-container {
    height: auto;
    width: 20rem;
    justify-self: center;
  }
}

.pastor-in-charge {
  font-weight: 600;
}
