.about-hero {
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/abous-us.jpg') center/cover no-repeat;
  background-attachment: fixed;
  background-position-y: -190px;
  object-position: top;

  .hero-text {
    text-transform: uppercase;
    font-weight: 600;
    font-family: $ff-headingFont;
    font-size: 3rem;
  }
}

section.about-us {
  min-height: 45 vh;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  p {
    max-width: 30rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
