@include tablet {
  .nav {
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;

    .nav-header {
      height: 5rem;
      display: flex;
      justify-content: space-between;

      .nav-toggle {
        display: none;
      }
    }

    .nav-links {
      display: flex;
      gap: 1rem;
      margin-top: 0;
      justify-self: end;
      align-items: center;

      a {
        font-size: 0.85rem;
        padding: 0;
      }

      a:hover {
        color: $clr-special;
        background: transparent;
        border: none;
        padding: 0;
      }

      .donate-btn {
        padding: 0.6em 1em;
        background: $clr-special;
        border-radius: $borderRadius;
        color: $clr-white;
      }
    }

    .links-container {
      grid-template-columns: 1fr auto;
      transform: translate(0);
    }
    .social-icons {
      display: flex;
      transform: translate(0);
    }
  }

  .hero {
    font-size: 3.5rem;
    line-height: 0.9;

    span {
      font-size: 4.7rem;
    }

    .hero-btn {
      padding: 1.2em 1.5em;
      font-size: 1.15rem;
    }
  }
}
