@include tablet {
  .container {
    max-width: $maxWidth;
  }

  section {
    min-height: max-content;
  }

  // ** || Navigation || **

  .nav {
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;

    .nav-header {
      height: 5rem;
      display: flex;
      justify-content: space-between;

      .nav-toggle {
        display: none;
      }
    }

    .nav-links {
      display: flex;
      gap: 1rem;
      margin-top: 0;
      justify-self: end;
      align-items: center;

      a {
        font-size: 0.85rem;
        padding: 0;
      }

      a:hover {
        color: $clr-special;
        background: transparent;
        border: none;
        padding: 0;
      }

      .donate-btn {
        padding: 0.6em 1em;
        background: $clr-special;
        border-radius: $borderRadius;
        color: $clr-white;
      }
    }

    .links-container {
      grid-template-columns: 1fr auto;
      transform: translate(0);
    }
    .social-icons {
      display: flex;
      transform: translate(0);
    }
  }

  // ** || Hero || **

  .hero {
    font-size: 3.5rem;
    line-height: 0.9;

    span {
      font-size: 4.7rem;
    }

    .hero-btn {
      padding: 1.2em 1.5em;
      font-size: 1.15rem;
    }
  }

  // ** || Intro Section || **

  .intro-section {
    margin-top: 3em;
    margin-bottom: 4em;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    h2 {
      margin-top: 0;
    }
    .intro-text {
      max-width: 30rem;
    }
  }

  // ** || Weekly Word || **
  .weekly-word {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding-left: 3em;

    .text-container {
      align-self: center;

      h2 {
        margin-top: 0;
      }
    }
  }

  // ** || Weekly Gathering || **

  .weekly-gathering {
    padding: 0.2em 0.4em;
    max-width: $tabletMaxWidth;
    h2 {
      margin-top: 0.4em;
    }

    .weekly-text h2 {
      margin-top: 0.7em;
    }
  }

  // ** || Time well Spent || **

  .time-well-spent {
    max-width: 70rem;
    padding: 1em 2em;
    height: 60vh;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 65%;
      height: 32rem;
      max-width: 40rem;
      p {
        max-width: 20rem;
      }

      h2 {
        margin-top: 0;
      }

      h2,
      p {
        margin-left: 3rem;
      }
    }

    .img-container {
      position: absolute;
      top: 4.5rem;
      left: 50%;
      height: 25rem;
      width: 25rem;

      img {
        display: block;
      }
    }

    .img-container::after {
      content: '';
      outline: 5px solid $clr-special-2;
      outline-offset: 7px;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  // ** Directions **

  .directions {
    width: 800px;
    padding: 1em 3em;
    margin-bottom: 4em;
  }
}

@include responsive_fix {
  .time-well-spent {
    .img-container {
      width: 26rem;
    }
  }
}

@include desktop {
  .time-well-spent {
    .img-container {
      width: 35rem;
    }
  }
}
