section {
  max-width: $maxWidth;
  min-height: 50vh;
  height: 100%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

// ** Intro **

.intro-section {
  display: grid;
  margin: 0 auto;
  margin-bottom: 3em;

  .intro {
    margin: 0 auto;

    .section-header {
      h2 {
        color: $clr-special;
        font-family: $ff-sections;
        font-weight: bold;
        font-size: 3rem;
      }
    }

    .intro-text {
      max-width: 30rem;
      line-height: 2;
    }
  }
}

// * Weekly Gathering *
.weekly-gathering {
  margin: 0 auto;

  h2 {
    text-transform: capitalize;
    font-size: 1.7rem;
    font-family: $ff-headingFont;
    font-weight: 500;
  }

  .inner-link {
    color: $clr-special;
    font-weight: bold;
    border-bottom: 0.15em solid $clr-special;
    padding-bottom: 0.01em;
  }

  .directions-link {
    text-transform: capitalize;
    font-size: 1rem;
    color: $clr-body;
    border-bottom: 0.15em dashed $clr-body;
    display: inline-block;
    margin-top: 1.5em;
  }
}
// ** Weekly Word **
.weekly-word {
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 4em;

  .img-container {
    height: 25rem;

    img {
      height: 100%;
    }
  }

  h2 {
    text-transform: capitalize;
    font-family: $ff-sections;
    font-weight: 700;
  }
}

.weekly-word-footer {
  margin-top: 1em;
  font-weight: 600;
  padding-bottom: 0.3em;
  border-bottom: 0.2em solid $clr-special;
  text-align: right;
}

// *** Time well spent ***

.time-well-spent {
  margin: 0 auto;
  position: relative;
  height: fit-content;

  .text-container {
    background-color: $clr-special;
    color: $clr-white;
    line-height: 2;
    padding: 0.5em 1em;

    h2 {
      font-family: $ff-headingFont;
    }

    p {
      margin-bottom: 1em;
    }

    .passage,
    .inner-link {
      color: $clr-white;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .img-container {
    height: 25rem;

    img {
      height: 100%;
    }
  }
}

// ** || Events || **
.events {
  margin-bottom: 4em;
  // height: 40rem;
  display: grid;

  .section-header h2 {
    text-transform: capitalize;
    font-size: 1.7rem;
    text-align: center;
  }

  .events-container {
    display: grid;
    row-gap: 2em;
  }

  .event {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: $borderRadius;
    box-shadow: 5px 5px 16px -3px rgba(0, 0, 0, 0.76);
    transition: $transition;
    // height: 30rem;

    .img-container {
      width: 100%;
      height: 20rem;
      img {
        height: 100%;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }
    }

    &-info {
      background: $clr-special;
      color: $clr-white;
      padding: 0.5em 1em;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      h3 {
        margin-top: 0;
        text-transform: capitalize;
        font-size: 1.5rem;
      }
    }

    .event-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

      a {
        color: $clr-white;
      }
      .event-date {
        text-transform: capitalize;
        text-align: right;
      }
    }
  }

  .event:hover {
    box-shadow: 5px 7px 20px -1px rgba(0, 0, 0, 0.78);
  }
}

// ** || Directions || **
.directions {
  width: 100%;

  iframe {
    width: 100%;
    height: 400px;
  }
}
