// fonts
$ff-headingFont: 'Ubuntu', sans-serif;
$ff-primary: 'Lora', serif;
$ff-secondary: 'Grape Nuts', cursive;

// colors
$clr-body: hsl(0, 0%, 3%);
$clr-special: hsl(329, 89%, 31%);
$clr-special-2: hsl(329, 89%, 76%);
$clr-white: hsl(0, 0%, 100%);

// other styles
$borderRadius: 0.25rem;
$transition: all 300ms linear;
$letterSpacing: 1px;
$maxWidth: 1200px;
