@import './resets';
@import './variables';
@import './config';
@import './navigation';

.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/hero-1.jpg') center/cover no-repeat;
  background-attachment: fixed;
  background-position-y: -190px;
  object-position: top;
  color: $clr-white;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  line-height: 1;
  font-family: $ff-headingFont;
  padding: 0 0.3em;

  span {
    color: $clr-special;
    font-family: $ff-sections;
    font-weight: 700;
    font-size: 4.2rem;
    text-shadow: -2px 3px 3px $clr-white;
  }

  .hero-btn {
    margin-top: 3em;
    padding: 1.2em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    font-family: $ff-headingFont;
    background: $clr-special;
    text-transform: uppercase;
  }

  .hero-btn:hover {
    background: $clr-special-2;
    color: $clr-body;
  }
}

footer {
  width: 100%;
  background: $clr-body;
  color: $clr-white;
  text-align: center;
  height: 7rem;
  display: grid;
  padding: 2em 0;
  padding-bottom: 2em;

  .footer-container {
    max-width: $maxWidth;
    margin: 0 auto;

    .site-author {
      color: $clr-special-2;
      text-decoration: underline;
    }
  }
}

@import './about-us';
@import './sections';
@import './responsive';
